body {
  font-family: helvetica neue;
}


.login-box {
  width: 20em;
  margin: auto;
  margin-top: 100px;

  .login-logo {
    text-align: center;
    img {
      height: 170px;
      margin-bottom: 14px;
    }
  }
  .login-button {
    margin-top: 10px;
    text-align: right;
  }

  .welcome-msg {
    text-align: center;
  }

  .instruction {
    font-size: 18px;
  }

  #email {
    margin: auto;
  }

}

.header {
    // outline: salmon solid 1px;
  img {
    height: 120px;
    margin: 40px;
  }
}

.page-header {
  text-align: center;
  img {
    height: 100px;
  }
}

.page-form {
  width: 35em;
  margin: auto;

  .gender-options {

  }
  .gender-titles {
    margin-left: 1px;
  }

  .radio {
    width: 19px;
  }

  .submit-btn {
    margin-top: 20px;
  }

  legend {
    font-size: 24px;
    font-weight: 200;
    padding-left: 14px;
    background: #f7f7f7;
  }

  .button-case {
    text-align: right !important;
  }

}

.footer {
  height: 150px;
}
